{{yield}}
  <ul class="list-group">
    <li class="list-group-item col-xs-4">PHP/MySQL <span class="badge">5 years</span></li>
    <li class="list-group-item col-xs-4">Drupal <span class="badge">4 years</span></li>
    <li class="list-group-item col-xs-4">Symfony <span class="badge">4 years</span></li>
    <li class="list-group-item col-xs-4">EmberJS <span class="badge">1 year</span></li>
    <li class="list-group-item col-xs-4">NodeJS <span class="badge">1 year</span></li>
    <li class="list-group-item col-xs-4">Linux Shell Scripting <span class="badge">5 years</span></li>
    <li class="list-group-item col-xs-4">AWS Services <span class="badge">3 years</span></li>
    <li class="list-group-item col-xs-4">GIT, Travis/Jenkins</li>
  </ul>
