<p> This is education </p>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Masters in Information Technology | 2014-2015 | UNC Charlotte</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="fa-ul">
         <li><i class="fa-li fa fa-check-square"></i>Web development with Drupal, PHP. </li>
         <li><i class="fa-li fa fa-check-square"></i>Helped developing a custom framework in drupal, that allows modular development (Components based), using panels and layout modules. </li>
         <li><i class="fa-li fa fa-check-square"></i>Framework uses best practices of MVC and Atomic design methodologies. </li>
         <li><i class="fa-li fa fa-check-square"></i>Setup build automation using AWS, Jenkins</li>
         <li><i class="fa-li fa fa-check-square"></i>Manage Devops and servers, hosted on Acquia platform. </li>
         <li><i class="fa-li fa fa-check-square"></i>Website: <a href='http://www.firstnet.ws/'> http://www.firstnet.ws/ </a> </li>
       </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Web Developer | The American Institute of Architects | June 2015 – Nov 2016</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="fa-ul">
         <li><i class="fa-li fa fa-check-square"></i>Full stack web development, including technologies: Drupal, PHP, EmberJS, NodeJs, ElasticSearch.  </li>
         <li><i class="fa-li fa fa-check-square"></i>Website follows a decoupled Architecture (Headless Drupal), Making use of Drupal 8’s REST API and Ember Data store. </li>
         <li><i class="fa-li fa fa-check-square"></i>Implemented a custom SOAP to REST parser, to meet some business requirements. </li>
         <li><i class="fa-li fa fa-check-square"></i>Helped in automating build process, using Travis-CI, Github. </li>
         <li><i class="fa-li fa fa-check-square"></i>Manage multiple serves hosted on Acquia, Amazon AWS. </li>
         <li><i class="fa-li fa fa-check-square"></i>Website: <a href='http://new.aia.org'> http://www.new.aia.org/ </a>,
           <a href='http://www.architecturaladventures.org '> http://www.architecturaladventures.org </a>, <a href='http://renew.aia.org '> http://renew.aia.org  </a>
         </li>
       </ul>
      </div>
    </div>
  </div>
</div>
