<p> This is education </p>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Masters in Information Technology | 2014-2015 | UNC Charlotte</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="fa-ul">
         <li><i class="fa-li fa fa-check-square"></i>Major in Information Securities. </li>
         <li><i class="fa-li fa fa-check-square"></i>Courses - Principles of Information Securities, Applied Cryptography, Computer Forensics, Penetration Testing and Secure Programming, Network Based Application Development, IT Project Management</li>
         <li><i class="fa-li fa fa-check-square"></i> Activities and Societies: Main Concentration : Information Securities. 49er Security Division, 49er Gaming Club, Global Game Jam, STARS Computing Corps
         Major in Information Securities.  </li>
       </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Bachelors in Information Technology | 2008-2012 | GITAM University, Vizag</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="fa-ul">
         <li><i class="fa-li fa fa-check-square"></i>Activities and Societies: Gitam University Science and Activity Center, International Society for Technology in Education, Computer Society of India. </li>
       </ul>
      </div>
    </div>
  </div>
</div>
